{% extends 'base.html' %}
{% block content %}


<div class="row3">
    <div class="col-s12">
    <ul class="collection">
        <li class="collection-item avatar">
            <i class="large material-icons circle">folder</i>   
            <span class="card-title">{{ user.first_name }} {{ user.last_name }}</span>
        <p>Email Address: {{ user.email }} <br>
            Username: {{ user.username }}
        </p>
        <a href="{% url 'profile_edit' user.id %}" class="secondary-content"><i class=" material-icons orange-text text-darken-4 ">account_circle</i></a>
        </li>
    </ul>
    </div>
</div>
    {% for project in user.project_set.all %}
          


    <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image2">
              {% if project.thumbnail %}
              <img src="{{ project.thumbnail }}"  style="width:50% ;height:auto;"  alt="Project thumbnail">
              {% endif %}
              <span class="card-title">{{ project.title }}</span>
            </div>
            <div class="card-content">
            <p> <b> Repository Link: </b> {{ project.repository }} <br>
               <b> Deployment Link: </b> {{ project.deployment }} <br>
               <b> Description: </b> {{ project.description }}
            </p>
            <div class="card-action">
                <a href="{% url 'project_detail' project.id %}" class="btn-floating halfway-fab waves-effect waves-light red"><i class=" material-icons left">info</i></a>
            </div>
          </div>
        </div>
      </div>
                
    {% endfor %}

{% endblock %}