{% extends 'base.html' %}
{% block content %}

  <div class="row3">
    <div class="col s4">
      {% if user_info.profile_image %}
                <img src="{{ user_info.profile_image }}"  style="width:50% ;height:auto;"  alt="Profile image">
            {% else %}
                <p>Upload a profile image!</p>
            {% endif %}
            <form action="{% url 'add_profile_photo' user_info.user_id %}" method="post" class="card-panel" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="photo-file">
                <br>
                <br>
                <button class="btn" type="submit">Upload Photo</button>
            </form>
    </div>
      <div class="col-s12">
        <ul class="collection">
            <li class="collection-item avatar">
              <i class="large material-icons circle">folder</i>   
              <span class="card-title">{{ user.first_name }} {{ user.last_name }}</span>
              <p>{{ user.email }}</p>
              <a href="{% url 'profile_edit' user.id %}" class="secondary-content"><i class=" material-icons orange-text text-darken-4 ">edit</i></a>
            </li>
        </ul>
      </div>
  </div>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Links</span>
      <p>Github: {{ user_info.github }}</p>
      <p>LinkedIn: {{ user_info.linkedin }}</p>
      <p>Website: {{ user_info.website }}</p>
      <a href="{% url 'profile_links_edit' user_info.id %}" class="secondary-content"><i class=" material-icons orange-text text-darken-4 ">edit</i></a>
    </div>
  </div>

    {% for project in user.project_set.all %}
      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image2">
              {% if project.thumbnail %}
              <img src="{{ project.thumbnail }}"  style="width:50% ;height:auto;"  alt="Project thumbnail">
              {% endif %}
              <span class="card-title">{{ project.title }}</span>
            </div>
            <div class="card-content">
            <p> <b> Repository Link: </b> {{ project.repository }} <br>
               <b> Deployment Link: </b> {{ project.deployment }} <br>
               <b> Description: </b> {{ project.description }}
            </p>
            <div class="card-action">
                <a href="{% url 'project_detail' project.id %}" class="btn-floating halfway-fab waves-effect waves-light red"><i class=" material-icons left">info</i></a>
            </div>
          </div>
        </div>
      </div>       
    {% endfor %}

{% endblock %}