{% extends 'base.html' %}
{% block content %}

    <h1>Sign Up</h1>

    <p class="red-text">{{ error_message }}</p>

    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        {{ form.username.label_tag }} {{ form.username }}
        {{ form.first_name.label_tag }} {{ form.first_name }}
        {{ form.last_name.label_tag }} {{ form.last_name }}
        {{ form.email.label_tag }} {{ form.email }}
        {{ form.password1.label_tag }} {{ form.password1 }}
        {{ form.password2.label_tag }} {{ form.password2 }}
        <button type="submit" class="btn">Sign Up</button>
    </form>

{% endblock %}