{% extends 'base.html' %}
{% block content %}
<div class="card-panel white">
<body class= "move"> 
<h1 class="">ABOUT</h1>
<hr>
<h2>
    General Archive was made using Python, Django, SQL, HTML5, and CSS.
</h2>
</div>
  <div class="row2">
    <div class="col s12 m6">

      <div class="card blue-grey darken-1">
        <div class="card-content hoverable white-text">
          <span class="card-title">Jordon Meril</span>
          <ul>
            <li>Documentation</li>
            <li>Front-End Dev</li>
            <li>Granular Archivist Member</li>
          </ul>
        </div>
        <div class="card-action">
          <a href="#">Contact Info</a>
        </div>
      </div>

      <div class="card blue-grey darken-1">
        <div class="card-content hoverable white-text">
          <span class="card-title">Noah Smith</span>
          <ul>
            <li>Git Manager</li>
            <li>Back-End Dev</li>
            <li>Granular Archivist Member</li>
          </ul>
        </div>
        <div class="card-action">
          <a href="#">Contact Info</a>
        </div>
      </div>

      
      <div class="card blue-grey darken-1">
        <div class="card-content hoverable white-text">
          <span class="card-title">Dani Nunez</span>
          <ul>
            <li>Scrum Leader</li>
            <li>Full Stack Dev</li>
            <li>Granular Archivist Member</li>
          </ul>
        </div>
        <div class="card-action">
          <a href="#">Contact Info</a>
        </div>
      </div>

    </div>
  </div>
</body>


            
{% endblock %}