{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>General Archive</title>
    <link rel="icon" type="image/png" href="{% static '/GALogo2.png' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

</head>
<body class="main orange lighten-4">
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="{%url 'home' %}" class="brand-logo"><img class="responsive-img" style="width:9%;height:auto;" src="{% static '/GALogoTransparent.png' %}"></i>GENERAL ARCHIVE</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul>
          
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'project_list' %}"><i class="material-icons left">view_comfy</i>Recent Projects</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'project_create' %}"><i class="material-icons left">add</i>New Project</a></li>
            <li><a href="{% url 'user_redirect' %}"><i class="material-icons left">face</i>Profile</a></li>
            <li><a href="{% url 'about' %}"><i class="material-icons left">people</i>About</a></li>
            <li><a href="{% url 'logout' %}"><i class="material-icons left">cancel</i>Logout</a></li>
          {% else %}
            <li><a href="{% url 'about' %}"><i class="material-icons left">people</i>About</a></li>
            <li><a href="{% url 'login' %}"><i class="material-icons left">fingerprint</i>Login</a></li>
            <li><a href="{% url 'signup' %}"><i class="material-icons left">cloud</i>Signup</a></li>
          {% endif %}
        </ul>
        <ul class="sidenav" id="mobile-demo">
          <li><a href="{% url 'project_create' %}"><i class="material-icons left">add</i>New Project</a></li>
          <li><a href="{% url 'user_redirect' %}"><i class="material-icons left">face</i>Profile</a></li>
          <li><a href="{% url 'about' %}"><i class="material-icons left">people</i>About</a></li>
          <li><a href="{% url 'logout' %}"><i class="material-icons left">cancel</i>Logout</a></li>
        </ul>
      </div>
     </div>
    </nav>
  </header>
  <main class="container orange lighten-5">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div><p>Made by and for General Assembly Students and Alumni.</p></div>
  </footer>
</body>
</html>