{% extends 'base.html' %}
{% block content %}
<div class="card-panel white">
<body class="move">
<h1>HOME</h1>


<div class="row">

    <div class="col s4">
        <i class="large material-icons">visibility</i>
        <h2> Showcase! </h2>
        <p> Show off your GA Projects to previous and future GA members. </p>
    </div>
    <div class="col s4">
        <i class="large material-icons">insert_emoticon</i>
        <h2> Critique! </h2>
        <p> Leave comments on your fellow GA members projects. </p>
    </div>
    <div class="col s4">
        <i class="large material-icons">folder</i>
        <h2> Improve! </h2>
        <p> Explore the archives of GA projects and edit your progress. </p>
    </div>

  </div>
  </body>
</div>  
{% endblock %}