body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

h1, h2 {
    text-align: center;
}
ul {
    text-align: center;
}
.col-s4 {
    text-align: center;
}
.card {
    width: 33%;
    float: left;
}

.card-content {
    text-align: center;
    font-weight: bold;
}   
.move {  
    background-image: url();
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover; 
    }
.collection {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}