body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

h1, h2 {
    text-align: center;
}
ul {
    text-align: center;
}
.col-s4 {
    text-align: center;
}
.card {
    width: 33%;
    float: left;
}
.card-content {
    text-align: center;
}

.comments-section {
    border-top: 30px solid #2fbbdb;
    background-color: #e8a0a0;
    padding-top: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
    
.comment {
    border-bottom: 20px solid #2fbbdb;
    padding: 15px 0;
    border: 20px solid #e0e0e0; /* Light border for each comment */
    border-radius: 5px;
    background-color: #e47272; /*  background */
}

    
.comment:last-child {
    border-bottom: none;
}
    
.comment-author {
    display: flex;
    align-items: center;
}
    
.comment-author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
    
.comment-content {
    margin: 10px 0;
}
    
.comment-actions {
    font-size: 0.9em;
}
    
.comment-actions a {
    margin-right: 10px;
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
}
    
.comment-actions a:hover {
    color: #64c072; 
    text-decoration: underline;
}
    
  
.move {  
    background-image: url();
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover; 
    }
