{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <div class="col s6">
            <img src="{{ project.thumbnail }}" alt="Project thumbnail">
            <form action="{% url 'add_project_photo' project.id %}" method="post" class="card-panel" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="photo-file">
                <br>
                <br>
                <button class="btn" type="submit">Upload Photo</button>
            </form>
        </div>
        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ project.title }}</span>
                    <p>Repository Link: {{ project.repository }}</p>
                    <p>Deployment Link: {{ project.deployment }}</p>
                    <p>Description: {{ project.description }}</p>
                </div>
                <div class="card-action">
                    {% if project.user.id == user.id %}
                        <a href="{% url 'project_delete' project.id %}">Delete</a>
                        <a href="{% url 'project_edit' project.id %}">Edit</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

<!-- Display Comments Section -->
<div class="comments-section">
    <h4>Comments</h4>
    {% if project.comment_set.all.count == 0 %}
    <p>No Comments ☹️</p>
    {% else %}
    <table>
        <!-- Table Header -->
        <thead>
            <tr>
                <th>User</th>
                <th>Date</th>
                <th>Comment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <!-- Table Body -->
        <tbody>
            {% for comment in project.comment_set.all %}
            <tr>
                <td>{{ comment.user.first_name }} {{ comment.user.last_name }}</td>
                <td>{{ comment.timestamp|date:"F j, Y" }}</td>
                <td>{{ comment.content }}</td>
                <td class="comment-actions">
                  {% if comment.user.id == user.id %}
                    <a href="{% url 'edit_comment' project.id comment.id %}">Edit</a> |
                    <a href="{% url 'delete_comment' project.id comment.id %}">Delete</a>
                  {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

    <!-- Add Comment Section -->
    <div class="add-comment">
        <h5>Add a Comment:</h5>
        <a href="{% url 'add_comment' project.id %}">Add Comment</a>
    </div>

{% endblock %}